.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: #d9d9db;
  padding: 35px 0px 35px;
  position: relative;
}

.marquee-track {
  display: flex;
  width: fit-content;
  animation: scroll 30s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  margin-right: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee-item img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.caption {
  position: absolute;
  color: rgb(255, 255, 255);
  inset: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none;
  -webkit-text-stroke: 0.75px black;
  text-align: center;
  padding: 0 10px;
  line-height: 1.2; 
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-0.5%);
  }
}

@media (max-width: 790px) {
  .marquee-track {
    transform: translateZ(0);
  }

  .caption {
    transform: translate(-50%, -50%) translateZ(0);
    top: 50%;
    left: 50%;
  }
}