.appointment-hourly-module {
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0.2em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background: #C0C3C1;
    width: 95%;
    position: relative;
}

.appointment-hourly-module.empty::after {
    color: #666;
}

.appointment-hourly-module:hover{
    background: #999D9A;
    cursor: pointer;
}
.appointment-hourly-module.taller {
    background: #93C0E4;
}
.appointment-hourly-module.taller:hover {
    background: #569CD5;
}
.appointment-hourly-module.simple {
    background: #9CC2A3;
}
.appointment-hourly-module.simple:hover {
    background: #6DA57A;
}
.appointment-hourly-module-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

@media (max-width: 768px) {
  /* ocultamos los vacíos normales */
  
  .appointment-hourly-module.empty::after {
    content: "+"; /* 👈 así sí aparece */
    display: flex;
    font-size: 2em;
    font-weight: bold;
    color: #666;
    align-items: center;
    justify-content: center;
  }

  .appointment-hourly-module.empty:not(.last-empty) {
    display: none;
  }

}