JWT_SECRET="COPY PASTE DATA"
REFRESH_SECRET="COPY PASTE DATA"
CHANGE_SECRET="COPY PASTE DATA"
BREVO_KEY="COPY PASTE DATA"
MAIL="COPY PASTE DATA"
BASE_URL="http://localhost:5173"
GROQ_API_KEY="COPY PASTE DATA"