.not-found-container{

    color: #142f17; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    font-size: 3vh;
}

.not-found-image{
    width: 20vw;
    max-width: 600px;
    height: auto;
    min-width: 320px;
}

.not-found-title{
    margin-top:0;
}

.not-found-link{
    margin-top: 5vh;
}

.not-found-button{
    margin-top: 5vh;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color:#FEFAE0;
    width: 12vw;
    min-width: 200px;
    height: 6vh;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 6px;
    font-size: 2.4vh;
    background-color: #3a7656 ;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.not-found-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.not-found-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}