@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.province-list li {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}


.create-province {
    display: flex;
    gap: 5%;
}

.create-province-input {
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px;
}

.create-province button {
    border-radius: 5px;
    border: 1px solid green;
    padding: 8px 12px;
    background-color: white;
    color: green;
    cursor: pointer;
}

.province-searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 80%;
    font-size: 30%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 3%;
    margin-top: 3%;
}

.navZone {
    margin: 0;
    margin-top: 3%;
    width: 100%;
}

.search-icon {
    font-size: 30px;
    margin-left: 8px;
    color: gray;
}

.province-searchInput {

    font-size: 30px;
    outline: none;
    border: none !important;
    background: transparent;
    width: 100%;
}

.province-searchBar input {
    margin-left: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.province-grid {
  display: grid;
  overflow-y: auto;
  width: 100%;
  height: 400px;
  background-color: #F3F7F8;
  border-radius: 10px;

}

.error-message {
    color: red;
    font-size: 25px;
    animation: 
    fadeIn 0.5s ease-in-out 0s forwards,
    fadeIn 0.5s ease-in-out reverse 10s forwards;

}

.add-button {
    border-radius: 3px;
    color: #FEFAE0;
    padding: 8px 12px;
    background-color: #3B7658;
    border-radius: 5px;
    cursor: pointer;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    gap: 5%;
    margin-top: 20px;
}


.province-list {
    list-style-type: none;
    display: block;
    padding: 0;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

@media (max-width: 768px) {

    .search-icon {
    font-size: 20px;
    }

    .province-searchInput {

    font-size: 20px;
    }

    .create-province {
        margin-bottom: 10%;
    }
}
