.user-register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEDF2;
    height: 90vh;
}


.register-title {
    background-color: rgba(243, 247, 248, 0.7);
    width: 95%;
    height: 8%;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 10px #6C788E;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 5px;
}
.title-icon {
    color: #3B7658;
    width: 30px;
    height: 30px;
    padding-left: 30px;
}
.title-text{
    color: #3B7658;
}

.register-body{
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgba(243, 247, 248, 0.7);
    width: 95%;
    height: auto;
    box-shadow: 0px 2px 10px #6C788E;
    overflow: visible;
    border-radius: 5px;
}

.register-body-left{
    display: flex;
    flex-direction: column;
    width: 70%;
    color: black;
    padding: 20px;
}

.register-body-left-inputs{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    gap: 20px;
}

.document-dataInput{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.tipoDoc {
    width: 20%;
}
.nroDoc {
    width: 80%;
}


.data-input-label {
    color: black;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.data-input-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    margin-bottom: 0.65em;
}

.data-input-input, .data-input-selector {
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    border: 2px solid #888; 
    outline: none; 
    transition: border 0.2s ease;
}

.data-input-input:focus, .data-input-selector:focus {
    border-color: #3B7658;
}




.register-body-right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}



.logo-consultorios img{
    width:90%;
}

.register-button {
    background-color: #3B7658;
    color: #FEFAE0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.register-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.register-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.register-namesurname{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/*---------------------------------------------------------*/
/*---------------------------LOGIN-------------------------*/
/*---------------------------------------------------------*/

.user-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EDEDF2;
    height: 90vh;
}


.login-title{
    background-color: rgba(243, 247, 248, 0.7);
    width: 30%;
    height: 8%;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 2px 10px #6C788E;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 5px;
}

.login-body{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgba(243, 247, 248, 0.7);
    width: 30%;
    height: auto;
    box-shadow: 0px 2px 10px #6C788E;
    overflow: visible;
    border-radius: 5px;
}

.login-body-upper{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    box-sizing: border-box;
    padding: 20px 20px 5px 20px;
    
}
.login-body-lower{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px
}   
.login-logo-consultorios {
    width: 30%;
}

.login-logo-consultorios img {
    max-width: 100%;
    height: auto;
}

.login-button-container{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.login-button {
    background-color: #3B7658;
    color: #FEFAE0;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.4em;
    font-weight: bold;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.login-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.login-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}