.schedule-professional-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  width: 90vw;
}
.upper-container .navZone{
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  width: 45vw;
  height: 8vh;
}

.schedule-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .schedule-professional-container {
    position: relative;
    width: 90vw;
    padding: 10px;
    margin-right: 5vw;
  }

  .upper-container {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 90vw;
  }

  .upper-container .navZone{
    width: 100%;
    height: auto;
  }

  .schedule-container{
    width: 100%;
    padding: 0;
  }
}