
.crud-searchBar {
    display: flex;
    align-items: center;
    width: 80%;
    font-size: 30%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 1%;
    margin-top: 1.5%;
}

.search-icon {
    font-size: 30px;
    margin-left: 8px;
    color: gray;
}

.crud-searchInput {

    font-size: 25px;
    outline: none;
    border: none !important;
    background: transparent;
    width: 100%;
}

.crud-searchBar input {
    margin-left: 8px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}



@media (max-width: 768px) {

    .crud-search-icon {
    font-size: 20px;
    }

    .crud-searchInput {

    font-size: 4.5vw;
    }

}

