
body {
    background-color: #EDEDF2;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 20px auto;
}

.admin-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    color: black;
    width: 60%;
}


@media (max-width: 768px) {
    .options-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 90%;
    }

    .admin-home {
        width: 100%;
    }
}

