
.professional-home-container-whole {
    display: flex;
    height: 80vh;
}

.professional-home-container-left {
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 50px;
    min-width: 75vw;
}

.nav-zone-container .navZone {
    height: 70%;
    width: 94.3%;
    margin-left: 40px;
}

.professional-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-content: center;
    gap:10px;
    margin:0 40px 0 40px;
}
.professional-card{
    height: 60vh;
    min-width: 100px;
}

.professional-home-container-right {
    border-left: 1px solid #ddd;  
}

@media (max-width: 768px) {
    .professional-home-container-whole {
        flex-direction: column;
        height: auto;
    }

    .professional-home-container-left {
        min-width: 100%;
        gap: 20px;
    }

    .nav-zone-container .navZone {
        width: 90%;
        margin-left: 5%;
        height: 10vh;
    }

    .professional-cards-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 0 10px;
    }

    .professional-home-container-right {
        display: none;
    }
    .professional-card{
    height: 35vh;
    min-width: 100px;
}
}