.appointment-table-title {
    padding: 20px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.appointment-table-title-arrow{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    color: black;
}
.appointment-table-title-arrow.right:hover {
    opacity: 0.8;
    transform: translateX(5px);
}

.appointment-table-title-arrow.left:hover {
    opacity: 0.8;
    transform: translateX(-5px);
}

.appointment-table-title-month {
    font-size: 2rem;
    font-weight: 700;
}

.appointment-schedule {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #F3F7F8;
  color: black;
  width: 100%;
  border: 1px solid #000;
  gap: 0;
  box-sizing: border-box;
  border-collapse: collapse;
}

.appointment-day-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-right: 1px solid #000;
  box-sizing: border-box;
}
.appointment-day-column:last-child {
  border-right: none;
}

.appointment-day-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background: #F3F7F8;
  height: 3em;
  width: 100%;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  font-weight: bold;
}
.appointment-day-title-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.appointment-day-cells {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.appointment-show-more-icon {
  display: none;
}

.appointment-day-cells .appointment-hourly-module:last-child {
  display: none;
}

@media (max-width: 768px) {
  .appointment-schedule {
    grid-template-columns: 1fr;
    border: none;
  }

  .appointment-day-column {
    width: 100%;
    margin-bottom: 2vh;
    border-radius: 3px;
    border: 1px solid #000;
  }

  .appointment-day-title {
    box-sizing: border-box;
    font-size: 1.5em;
    height: 1.5em;
    justify-content: space-between;
    padding: 0 5vw;
  }
  .appointment-day-title-text{
    flex-direction: row;
  }

  .appointment-show-more-icon {
    display: block;
    font-size: 1.2em;
    cursor: pointer;
    margin-left: 5px;
    color: #000;
    transition: transform 0.3s ease;
  }

  .appointment-show-more-icon.appointment-rotated {
    transform: rotate(180deg);
  }

  .appointment-day-cells {
    display: none;
  }

  .appointment-day-cells.appointment-expanded {
    display: flex;
  }

  .appointment-day-cells .appointment-hourly-module:last-child {
    display: block;
  }
}