.show-password-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-left: auto;
    align-items: center;
}
.eye-icon {
    cursor: pointer;
    color: #555;
    width: 20px;
}
.show-password {
    font-size: 0.9em;
    color: #555;
    cursor: pointer;
}

@media (max-width: 750px) {
    .show-password-wrapper {
        width: 100%;
    }   
}