.fade-in-section {
  opacity: 0;
  transform: translateY(30px) scale(0.95);
  transition: opacity 1.25s ease-out, transform 1.25s ease-out; 
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.logout-spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid var(--button-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}