.filter-container{
  width: 25%;
  position: relative;
  z-index: 1000;
}

.filter-selector {
  box-shadow: 0px 1px 10px #6C788E;
  background: #F3F7F8;
  color: #3B7658;
  height: 8vh;       
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px; 
  font-size: 1.5em;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-weight: bold;
}

.filter-selector:hover{
    cursor: pointer;
    background-color: #E1E8EB;
    transform: scale(1.02);
    box-shadow: 0px 1px 10px #6C788E;
}

.filter-selector:active {
  transform: scale(0.95); /* achicar al hacer click */
}

.icon {
  transition: transform 0.3s ease;
  font-size: 1.5em;
}

.icon.rotated {
  transform: rotate(180deg);
}

.filter-options{
  position: absolute;
  margin-top: 5px;
  background-color:#F3F7F8;
  width: 100%;
  border-radius: 5px;
}

.disabled{
    display: none;
}

.filter-option{
  padding: 0.5vw;
  padding-bottom: 0;
}


.filter-input-container{
  display: flex;
  align-items: center;
  gap: 1vw;
  border-bottom: 1px solid #ccc;
}

.filter-input-container:last-of-type{
  border-bottom: none;
  padding-bottom: 0.5vw;
}

.filter-input{
  width: 100%;
  background: transparent;
  font-size: 1.2em;
  color: #3B7658;
  border: 1px solid #6c788e57;
  border-radius: 5px;
}

.filter-input:focus{
  outline: none;
}

.filter-list{
  color:#6C788E;
  padding-left: 0;
  margin-top:0;
}

.list-icon{
  color: #3B7658;
}

.filter-list-item{
  padding: 0.5vw;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  transition: transform 0.2s ease
}

.filter-list-item:hover{
  background-color: #E1E8EB;
  cursor: pointer;
}

.filter-list-item:active{
  transform: scale(1.02);
}

.single-filter{
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: #6C788E;
  border-bottom: 1px solid #ccc;
  list-style-type: none;
  transition: transform 0.2s ease
}

.checkbox-filter{
  font-size: 1em;
  display: flex;
  align-items: center;
}

.custom-checkbox{
  appearance: none;
  -webkit-appearance: none; /* Prefijo para Safari/Chrome */
  -moz-appearance: none;    /* Prefijo para Firefox */
  width: 1.1em; 
  height: 1.1em;
  border: 2px solid #6C788E; 
  border-radius: 5px;
  background-color: transparent; 
  display: inline-block; 
  position: relative; 
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
}

.custom-checkbox:checked {
  border-color: #4CAF50;
  /* SVG (gráfico vectorial) insertado directamente en el CSS.Es la forma más nítida de añadir un ícono sin archivos externos.*/
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%234CAF50' stroke-width='3' d='M3 8l3 3 7-7'/%3E%3C/svg%3E");
}

.checkbox-filter-label{
  cursor:pointer;
  width: 100%;
  padding: 0.5vw;
}

.delete-filters{
  padding: 0.5vw;
}

@media (max-width: 768px) {
  .filter-container{
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }
}